@import url("https://fonts.googleapis.com/css2?family=Sono:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

#container {
  display: block;
}

@media only screen and (orientation: portrait) {
  #container {
    height: 100vw;

    -webkit-transform: rotate(90deg);

    -moz-transform: rotate(90deg);

    -o-transform: rotate(90deg);

    -ms-transform: rotate(90deg);

    transform: rotate(90deg);
  }
}

@media only screen and (orientation: landscape) {
  #container {
    -webkit-transform: rotate(0deg);

    -moz-transform: rotate(0deg);

    -o-transform: rotate(0deg);

    -ms-transform: rotate(0deg);

    transform: rotate(0deg);
  }
}

body {
  font-family: "Sono", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: #b3c6ee;
}

.container {
  display: flex;
  width: 90vw;
}

.panel {
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: azure;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  -webkit-transition: all 775ms ease-in;
  overflow: hidden;
}

.panel h3 {
  font-size: 50px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel p {
  color: #f7f7f8;
  background-color: rgb(161, 161, 161, 0.7);
  /* font-family: "Caveat", cursive; */
  font-family: "Quicksand", sans-serif;
  font-size: 19px;
  position: absolute;
  top: 10%;
  left: 5px;
  right: 10px;
  margin: 0;
  border-radius: 5px;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

.panel.active p {
  opacity: 1;
  transition: opacity 0.8s ease-in 0.8s;
}

@media (max-width: 450px) {
  .container {
    width: 100px;
  }
  .panel:nth-of-type(4),
  .panel:nth-last-of-type(5) {
    display: none;
  }
}
